data/simulated
scripts/simulated
code/stan/model
code/stan/model_W
code/stan/model.hpp
code/stan/model_W.hpp
code/stan/model_W_velocity
code/stan/model_W_velocity.hpp
code/batch_jobs
code/job_listing_N.txt
code/job_listing_D.txt
code/plots
code/.ipynb_checkpoints
code/cpp/.ipynb_checkpoints
code/stan/.ipynb_checkpoints