data/simulated
scripts/simulated
code/stan/model
code/stan/model_W
code/stan/model.hpp
code/stan/model_W.hpp
code/stan/model_W_velocity
code/stan/model_W_velocity.hpp
code/batch_jobs
code/plots
results_code_restructure
plotting
code/testing_results